body {
	margin: 0 10% 30px;
	font-family: 'Arial', sans-serif;
}
p {
	line-height: 1.8em;
}
a {
	color: #000;
}
ul {
	list-style: none;
}
li {
	margin-bottom: 36px;

	> a {
		font-weight: bold;
	}

	p {
		font-size: 14px;
	}
	span {
		margin-right: 16px;
	}
}
h1,
h2 {
	font-size: 6em;
	text-align: right;

	span {
		background: #000;
		color: #fff;
		padding: 5px;
	}
}
h3 {
	font-size: 4em;
}
h4 {
	font-size: 2em;
}
hr {
	border: 4px solid #000;
}
table {
	width: 100%;
	border-collapse: collapse;
}
td {
	width: 50%;
	height: 200px;
	overflow: scroll;
	border: 1px dashed #000;

	> ul,
	> div {
		height: 100%;
		overflow: scroll;
	}
	> ul {
		padding: 30px;
	}
}
iframe {
	width: 100%;
	height: 100%;
}
.loader {
	width: 100%;
	text-align: center;
}
.empty {
	color: #333;
	font-size: 14px;
	line-height: 18px;
	background-color: #fff4c2;
	border: 1px solid #ffcc33;
	margin: 46px 5px 5px 5px;
	padding: 0;
}
@media only screen and (max-width: 768px) {
	h1,
	h2 {
		font-size: 3em;
	}
	h3 {
		font-size: 1.8em;
	}
	h4 {
		font-size: 1.2em;
	}
	p {
		font-size: 14px;
	}
	td {
		width: 100%;
		display: block;
	}
}